<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="the grill,restaurant,beef,shawerma,kids aria">
    <meta name="description" content="the grill was and still remains not just a restaurant,but also aremarkable part of the culture.We are happy to announce that we claim miky award.">
    <meta name="author" content="michael khalaf">
    <title> THE GRILL</title>
    <link rel="icon" type="image/x-icon" href="../content/media/logo.jpg">
    <link rel="stylesheet" href="../content/css/all.min.css">
    <link rel="stylesheet" href="../content/css/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
    <link rel="stylesheet" href="../content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
</head>
<body>
      <div class="bg-light d-md-flex d-none justify-content-between uper-nav">
        <div>
          <a href="mailto:maikelkhalaf100@gmail.com">maikelkhalaf100@gmail.com</a> 
        </div>
        <div>
          <a href="#"><svg class="fa-brands fa-instagram"></svg></a>
          <a href="https://www.facebook.com/profile.php?id=100076267296916" target="_blank"><svg class="fa-brands fa-facebook"></svg></a>
          <a href="#"><svg class="fa-brands fa-pinterest"></svg></a>
        </div>
        <div>
          <a href="#">+201274550956</a>
        </div>
      </div>
      <nav class="navbar navbar-dark nav-control fixed-top nav-con">
        <div class="container-fluid">
          <a class="navbar-brand smoothie" href="#"><p class="p1">THE<span class="span1"> GRILL</span></p></a>
          <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end bg-dark col-3 nav-left-con" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title p1" id="offcanvasNavbarLabel">WEL<span class="span1">COME</span></h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#1">our events & Famous Dishes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#2">our menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#3">our History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#4">our CHEFS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#5">kids aria</a>
                </li>

              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>  
      <header>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../content/media/1.jpg" class="d-block w-100" alt="1">
              <div class="carousel-caption d-none d-md-block slider-text">
                <img src="../content/media/intro-logo.png" alt="intro-logo">
                <p class="p1"></p>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../content/media/2.jpg" class="d-block w-100" alt="2">
              <div class="carousel-caption d-none d-md-block slider-text">
                <img src="../content/media/intro-logo.png" alt="intro-logo">
                <p class="p1"></p>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../content/media/3.jpg" class="d-block w-100" alt="3">
              <div class="carousel-caption d-none d-md-block slider-text">
                <img src="../content/media/intro-logo.png" alt="intro-logo">
                <p class="p1"></p>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </header>
      <section class="bg-light" id="1">
        <div class="welcome-div">
          <div class="contener">
            <h1>A <span class="span2">WARM </span>WELCOME</h1>
            <p class="p2">were very happy to see you.</p>
          </div>
          <div class="row con">
            <div class="col-12 col-md-6 cont">
              <h1>Our<span class="span2"> Events</span></h1>
              <p class="p3">1.Everything you can eat in one day for $1,000</p>
              <p class="p3">2.If you can eat 4 main dishes in half an hour, they will be free</p>
            </div>
            <div class="col-12 col-md-6 cont">
              <h1>Famous<span class="span2"> Dishes</span></h1>
              <p class="p3">1.Shawerma</p>
              <p class="p3">2.Pasta Béchamel</p>
              <p class="p3">3.Pizza</p>
              <p class="p3">4.Deer Meat</p>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light" id="2">
        <div class="welcome-div">
          <div class="contener">
            <h1>BROWSE<span class="span2">THE </span>MENU</h1> 
            <p class="p2">your tastebuds will thank you.</p>
          </div>
          <div class="row d-flex d-md-none justify-content-center">
            <div class="row div-con-menu">
              <button class="col-4 active" id="hide-s-d">main dishes</button>
              <button class="col-4" id="hide-m-d">side dishes</button>
              <button class="col-4" id="hide-m-s">our drinks</button>
            </div>
            <div class="col-12" id="main-dishes">
              <h1 id="scrollspyHeading1">main<span class="span2"> dishes</span></h1>
              <div class="meal">
                <img src="../content/media/meal1.jpg" alt="meal1">
                <p class="p2 p-0">shawerma</p>
                <p class="p4 p-0">with tomia , pickle and French fries</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu14" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal1.jpg" alt="meal1">
                      <span></span>
                      <p class="span2">Chicken shawarma contains 392.3 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the shawarma meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We cook shawarma in olive oil to make it healthy and We do not roast chicken over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal2.jpg" alt="meal2">
                <p class="p2 p-0">Pasta béchamel</p>
                <p class="p4 p-0">with modzarela , pickle and French fries</p>
                <span class="span1 p-0">50$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu15" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal2.jpg" alt="meal2">
                      <span></span>
                      <p class="span2">A medium sized piece contains 400 calories</p>
                      <p>
                        It contains a high percentage of fats, proteins, saturated fats, minerals and starches. It is rich in protein, which is 50 grams, dietary fiber is about 4 grams, and it has 240 mg sodium.
                      </p>
                      <p class="mb-0">
                        If you are on a diet, we replace the white pasta with brown pasta of 300 grams, then add a filling of minced meat or minced chicken and put it with onions, tomatoes, black pepper and turkey and paste them with only one drop of oil. To make the bechamel, starch or dark brown flour is also used and skimmed milk is used, so we get pasta with bechamel, its calories are much lower and suitable for dieting.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal3.jpg" alt="meal3">
                <p class="p2 p-0">Pizza</p>
                <p class="p4 p-0">with Ketchup and mayonnaise , pickle and French fries</p>
                <span class="span1 p-0">40$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu16" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal3.jpg" alt="meal3">
                      <span></span>
                      <p class="span2">Pizza contains 300 calories</p>
                      <p>
                        Italian scientists said that eating pizza or any healthy meal once a week protects against cancer, due to the tomato that protects against cancer of the colon, mouth, and esophagus, so a vegetable pizza with a little cheese can be part of a healthy diet.
                      </p>
                      <p class="mb-0">
                        Without preservatives,Without synthetic materials and Without high fat and salt
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal5.jpg" alt="meal5">
                <p class="p2 p-0">Deer meat</p>
                <p class="p4 p-0">with BBQ sauce, pickle and French fries</p>
                <span class="span1 p-0">100$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu17" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal5.jpg" alt="meal5">
                      <span></span>
                      <p class="span2">Deer meat contains 200 calories</p>
                      <p class="mb-0">
                        Deer meat works to combat kidney disease because it contains vitamin B3, vitamin B6 and vitamin B12, and it regulates the level of cholesterol in the blood. Deer meat is one of the foods that help regulate blood sugar, and it is recommended to consume venison as it contains a high percentage of protein, which helps in building muscles. B12 Deer meat accelerates the process of building cells, and deer meat is one of the foods that increases the efficiency of the immune system in the body and is also one of the foods that helps relieve menstrual disorders.
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12" id="side-dishes">
              <h1 id="scrollspyHeading2">side<span class="span2"> dishes</span></h1>
              <div class="meal">
                <img src="../content/media/meal6.jpg" alt="meal6">
                <p class="p2 p-0">Goat meat</p>
                <p class="p4 p-0">with BBQ sauce, pickle and French fries</p>
                <span class="span1 p-0">100$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu18" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal6.jpg" alt="meal6">
                      <span></span>
                      <p class="span2">Goat meat contains 500 calories</p>
                      <p>
                        Goat meat is a rich source of proteins that help maintain healthy muscles. The basic amino acid profile of goat meat is similar to that of chicken and beef. Since goat meat is a lean meat, it provides all the essential amino acids without adding unnecessary calories, unlike other meat sources.
                      </p>
                      <p class="mb-0">
                        Goat meat is red meat, which means that it is high in myoglobin. Meats rich in myoglobin provide a higher level of dietary iron and improve blood health. There is about 3 mg of dietary iron in 100 g of goat meat. Goat meat can reduce the risk of iron deficiency anemia
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal7.jpg" alt="meal7">
                <p class="p2 p-0">Chicken</p>
                <p class="p4 p-0">with tomia , pickle and French fries</p>
                <span class="span1 p-0">100$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu19" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal7.jpg" alt="meal7">
                      <span></span>
                      <p class="span2">Chicken contains 600 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the shawarma meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We do not roast chicken over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal8.jpg" alt="meal8">
                <p class="p2 p-0">Vegetable pasta</p>
                <p class="p4 p-0">with pickle and French fries</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu20" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal8.jpg" alt="meal8">
                      <span></span>
                      <p class="span2">Vegetable pasta contains 100 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the shawarma meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We cook Vegetable pasta in olive oil to make it healthy and We do not roast Vegetable over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal9.jpg" alt="meal9">
                <p class="p2 p-0">Vegetables</p>
                <p class="p4 p-0">with tomia , pickle and French fries</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu21" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal9.jpg" alt="meal9">
                      <span></span>
                      <p class="span2">Vegetables contains 100 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the Vegetables meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We do not roast Vegetables over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12" id="drenks">
              <h1 id="scrollspyHeading3">our<span class="span2">drenks</span></h1>
              <div class="meal">
                <img src="../content/media/d2.jpg" alt="drenk2">
                <p class="p2 p-0">lemon mint</p>
                <p class="p4 p-0">big cup</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu10" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d2.jpg" alt="drenk2">
                      <span></span>
                      <p class="span2">lemon mint contains 100 calories</p>
                      <p class="mb-0">
                        One of the benefits of lemon and mint with hot water is that it enhances the digestive process, as lemon works to prevent constipation and regulate bowel movement, while mint stimulates the salivary glands, which increases the production of digestive enzymes and improves digestion.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/d4.jpg" alt="drenk4">
                <p class="p2 p-0">cola</p>
                <p class="p4 p-0">big cup</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu11" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d4.jpg" alt="drenk4">
                      <span></span>
                      <p class="span2">Cola contains 200 calories</p>
                      <p class="mb-0">
                        Facilitate digestion and can relieve acute abdominal pain, break blockages, move food again, help sharpen mental focus because it contains caffeine, and increase body energy quickly, regardless of sugar loses its effect after thirty or sixty minutes, and helps people who get sick to get rid of out of it quickly.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/d1.jpg" alt="drenk1">
                <p class="p2 p-0">scottish plant</p>
                <p class="p4 p-0">A small cup without any alcohol</p>
                <span class="span1 p-0">50$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu12" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d1.jpg" alt="drenk1">
                      <span></span>
                      <p class="span2">scottish plant contains 2 calories</p>
                      <p class="mb-0">
                        Whiskey is low in carbohydrates and thus can be used by diabetic patients. But it is better to drink it in its pure form and use whiskey leads to the stimulation of neurons in the brain. This drink works well on the work of the heart muscle. There is even an opinion that it cleanses the body and removes cholesterol, and it should be eaten in small portions during varicose veins and thrombosis.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal" id="scrollspyHeading4">
                <img src="../content/media/d3.jpg" alt="drenk3">
                <p class="p2 p-0">grilly</p>
                <p class="p4 p-0">Our little secret</p>
                <span class="span1 p-0">60$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu13" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d3.jpg" alt="drenk3">
                      <p class="span2">contains 500 calories</p>
                      <p class="mb-0">
                        Our little secret, you won't know the ingredients but you will be surprised by the amazing taste
                      </p>
                      <span class="span2">For our customers only</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row con d-none d-md-flex">
            <div class="col-12 col-md-4">
              <h1>main<span class="span2"> dishes</span></h1>
              <div class="meal">
                <img src="../content/media/meal1.jpg" alt="meal1">
                <p class="p2 p-0">shawerma</p>
                <p class="p4 p-0">with tomia , pickle and French fries</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal1.jpg" alt="meal1">
                      <span></span>
                      <p class="span2">Chicken shawarma contains 392.3 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the shawarma meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We cook shawarma in olive oil to make it healthy and We do not roast chicken over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal2.jpg" alt="meal2">
                <p class="p2 p-0">Pasta béchamel</p>
                <p class="p4 p-0">with modzarela , pickle and French fries</p>
                <span class="span1 p-0">50$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal2.jpg" alt="meal2">
                      <span></span>
                      <p class="span2">A medium sized piece contains 400 calories</p>
                      <p>
                        It contains a high percentage of fats, proteins, saturated fats, minerals and starches. It is rich in protein, which is 50 grams, dietary fiber is about 4 grams, and it has 240 mg sodium.
                      </p>
                      <p class="mb-0">
                        If you are on a diet, we replace the white pasta with brown pasta of 300 grams, then add a filling of minced meat or minced chicken and put it with onions, tomatoes, black pepper and turkey and paste them with only one drop of oil. To make the bechamel, starch or dark brown flour is also used and skimmed milk is used, so we get pasta with bechamel, its calories are much lower and suitable for dieting.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal3.jpg" alt="meal3">
                <p class="p2 p-0">Pizza</p>
                <p class="p4 p-0">with Ketchup and mayonnaise , pickle and French fries</p>
                <span class="span1 p-0">40$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu4" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal3.jpg" alt="meal3">
                      <span></span>
                      <p class="span2">Pizza contains 300 calories</p>
                      <p>
                        Italian scientists said that eating pizza or any healthy meal once a week protects against cancer, due to the tomato that protects against cancer of the colon, mouth, and esophagus, so a vegetable pizza with a little cheese can be part of a healthy diet.
                      </p>
                      <p class="mb-0">
                        Without preservatives,Without synthetic materials and Without high fat and salt
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal5.jpg" alt="meal5">
                <p class="p2 p-0">Deer meat</p>
                <p class="p4 p-0">with BBQ sauce, pickle and French fries</p>
                <span class="span1 p-0">100$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu5" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal5.jpg" alt="meal5">
                      <span></span>
                      <p class="span2">Deer meat contains 200 calories</p>
                      <p class="mb-0">
                        Deer meat works to combat kidney disease because it contains vitamin B3, vitamin B6 and vitamin B12, and it regulates the level of cholesterol in the blood. Deer meat is one of the foods that help regulate blood sugar, and it is recommended to consume venison as it contains a high percentage of protein, which helps in building muscles. B12 Deer meat accelerates the process of building cells, and deer meat is one of the foods that increases the efficiency of the immune system in the body and is also one of the foods that helps relieve menstrual disorders.
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <h1>side<span class="span2"> dishes</span></h1>
              <div class="meal">
                <img src="../content/media/meal6.jpg" alt="meal6">
                <p class="p2 p-0">Goat meat</p>
                <p class="p4 p-0">with BBQ sauce, pickle and French fries</p>
                <span class="span1 p-0">100$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu6" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal6.jpg" alt="meal6">
                      <span></span>
                      <p class="span2">Goat meat contains 500 calories</p>
                      <p>
                        Goat meat is a rich source of proteins that help maintain healthy muscles. The basic amino acid profile of goat meat is similar to that of chicken and beef. Since goat meat is a lean meat, it provides all the essential amino acids without adding unnecessary calories, unlike other meat sources.
                      </p>
                      <p class="mb-0">
                        Goat meat is red meat, which means that it is high in myoglobin. Meats rich in myoglobin provide a higher level of dietary iron and improve blood health. There is about 3 mg of dietary iron in 100 g of goat meat. Goat meat can reduce the risk of iron deficiency anemia
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal7.jpg" alt="meal7">
                <p class="p2 p-0">Chicken</p>
                <p class="p4 p-0">with tomia , pickle and French fries</p>
                <span class="span1 p-0">100$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu7" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal7.jpg" alt="meal7">
                      <span></span>
                      <p class="span2">Chicken contains 600 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the shawarma meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We do not roast chicken over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal8.jpg" alt="meal8">
                <p class="p2 p-0">Vegetable pasta</p>
                <p class="p4 p-0">with pickle and French fries</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu8" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal8.jpg" alt="meal8">
                      <span></span>
                      <p class="span2">Vegetable pasta contains 100 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the shawarma meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We cook Vegetable pasta in olive oil to make it healthy and We do not roast Vegetable over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/meal9.jpg" alt="meal9">
                <p class="p2 p-0">Vegetables</p>
                <p class="p4 p-0">with tomia , pickle and French fries</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu9" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/meal9.jpg" alt="meal9">
                      <span></span>
                      <p class="span2">Vegetables contains 100 calories</p>
                      <p>
                        Important to enhance a number of body functions, and therefore the Vegetables meal contains a great source of vitamin A, vitamin C and protein, which provides you with a wide range of health benefits such as preventing stress and colds, and preventing skin aging.
                      </p>
                      <p class="mb-0">
                        We do not roast Vegetables over high heat, so as not to lose its health benefits.
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <h1>our<span class="span2"> drinks</span></h1>
              <div class="meal">
                <img src="../content/media/d2.jpg" alt="drenk2">
                <p class="p2 p-0">lemon mint</p>
                <p class="p4 p-0">big cup</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu22" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d2.jpg" alt="drenk2">
                      <span></span>
                      <p class="span2">lemon mint contains 100 calories</p>
                      <p class="mb-0">
                        One of the benefits of lemon and mint with hot water is that it enhances the digestive process, as lemon works to prevent constipation and regulate bowel movement, while mint stimulates the salivary glands, which increases the production of digestive enzymes and improves digestion.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/d4.jpg" alt="drenk4">
                <p class="p2 p-0">cola</p>
                <p class="p4 p-0">big cup</p>
                <span class="span1 p-0">10$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu23" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d4.jpg" alt="drenk4">
                      <span></span>
                      <p class="span2">Cola contains 200 calories</p>
                      <p class="mb-0">
                        Facilitate digestion and can relieve acute abdominal pain, break blockages, move food again, help sharpen mental focus because it contains caffeine, and increase body energy quickly, regardless of sugar loses its effect after thirty or sixty minutes, and helps people who get sick to get rid of out of it quickly.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/d1.jpg" alt="drenk1">
                <p class="p2 p-0">scottish plant</p>
                <p class="p4 p-0">A small cup without any alcohol</p>
                <span class="span1 p-0">50$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu24" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d1.jpg" alt="drenk1">
                      <span></span>
                      <p class="span2">scottish plant contains 2 calories</p>
                      <p class="mb-0">
                        Whiskey is low in carbohydrates and thus can be used by diabetic patients. But it is better to drink it in its pure form and use whiskey leads to the stimulation of neurons in the brain. This drink works well on the work of the heart muscle. There is even an opinion that it cleanses the body and removes cholesterol, and it should be eaten in small portions during varicose veins and thrombosis.
                      </p>
                    </div>
                </div>
              </div>
              <div class="meal">
                <img src="../content/media/d3.jpg" alt="drenk3">
                <p class="p2 p-0">grilly</p>
                <p class="p4 p-0">Our little secret</p>
                <span class="span1 p-0">60$</span>
                <div class="dropdown dropup">
                  <button class="btn btn-secondary dropdown-toggle health" type="button" id="dropdownMenu25" data-bs-toggle="dropdown" aria-expanded="false">
                    health info
                  </button>
                    <div class="dropdown-menu p-4 text-muted health-info" style="max-width: 100%;">
                      <img src="../content/media/d3.jpg" alt="drenk3">
                      <p class="span2">contains 500 calories</p>
                      <p class="mb-0">
                        Our little secret, you won't know the ingredients but you will be surprised by the amazing taste
                      </p>
                      <span class="span2">For our customers only</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
      <section class="bg-light" id="3">
        <div class="welcome-div History">
          <div class="contener">
            <h1>our<span class="span2"> History</span></h1> 
            <img src="../content/media/food1.png" alt="food" class="p-3">
            <p class="p2">I don't like food that's too carefully arranged; it makes me think that the chef is spending too much time arranging and not enough time cooking.</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-12">
              <h2 class="m-0 pt-5"><span class="p3 fs-2">1950</span></h2>
              <h1>Grand Opening</h1>
              <p class="p2 fs-5">the grill was opened in May 6, 1950, the interior was created by the most famous artists. Today our restaurant welcomes 250 people!</p>
            </div>
            <div class="col-md-4 col-12">
              <h2 class="m-0 pt-5"><span class="p3 fs-2">2005</span></h2>
              <h1>Second Branch</h1>
              <p class="p2 fs-5">Since the very first day, the grill was a gathering place for teachers, doctors, actors. Therefore we decided to open our second branch!</p>
            </div>
            <div class="col-md-4 col-12">
              <h2 class="m-0 pt-5"><span class="p3 fs-2">2015</span></h2>
              <h1>Great Award</h1>
              <p class="p2 fs-5">the grill was and still remains not just a restaurant,but also aremarkable part of the culture.We are happy to announce that we claim miky award.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="chef-div" id="4">
      <div class="welcome-div">
        <div>
          <h1>OUR <span class="span2">ACCLAIMED</span> CHEFS</h1>
          <p class="p2">dedicated to excellence.</p>
        </div>
        <div class="row justify-content-lg-between justify-content-center ">
          <div class="col-12 col-md-4 chef-con">
            <img src="../content/media/chef1.jpg" alt="chef1" class="chef"> 
          <div class="over-lay"></div>
          <div class="social-div">
            <h2>
              chef michael
            </h2>
            <a href="#"><svg class="fa-brands fa-instagram"></svg></a>
            <a href="#"><svg class="fa-brands fa-facebook"></svg></a>
            <a href="#"><svg class="fa-brands fa-pinterest"></svg></a>
            <p>
              <button class="btn bg-light button-card-con" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample">
                more info
              </button>
            </p>
            <div style="min-height: 100px;">
              <div class="collapse collapse-horizontal card-con" id="collapseWidthExample1">
                <div class="card card-body bg-light text-dark" style="width: 300px;">
                  Botanist specialist to choose for you the best fresh vegetables and a wonderful blend of spices
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-12 col-md-4 chef-con">
            <img src="../content/media/chef3.jpg" alt="chef2" class="chef"> 
          <div class="over-lay"></div>
          <div class="social-div">
            <h2>
              chef michael
            </h2>
            <a href="#"><svg class="fa-brands fa-instagram"></svg></a>
            <a href="#"><svg class="fa-brands fa-facebook"></svg></a>
            <a href="#"><svg class="fa-brands fa-pinterest"></svg></a>
            <p>
              <button class="btn bg-light button-card-con" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
                more info
              </button>
            </p>
            <div style="min-height: 100px;">
              <div class="collapse collapse-horizontal card-con" id="collapseWidthExample2">
                <div class="card card-body bg-light text-dark" style="width: 300px;">
                  Botanist specialist to choose for you the best fresh vegetables and a wonderful blend of spices
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-12 col-md-4 chef-con">
            <img src="../content/media/chef2.jpg" alt="chef3" class="chef"> 
          <div class="over-lay"></div>
          <div class="social-div">
            <h2>
              chef michael
            </h2>
            <a href="#"><svg class="fa-brands fa-instagram"></svg></a>
            <a href="#"><svg class="fa-brands fa-facebook"></svg></a>
            <a href="#"><svg class="fa-brands fa-pinterest"></svg></a>
            <p>
              <button class="btn bg-light button-card-con" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
                more info
              </button>
            </p>
            <div style="min-height: 100px;">
              <div class="collapse collapse-horizontal card-con" id="collapseWidthExample3">
                <div class="card card-body bg-light text-dark" style="width: 300px;">
                  Botanist specialist to choose for you the best fresh vegetables and a wonderful blend of spices
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>  
      </div>
      </section>
      <section class="kids-div" id="5">
        <div class="welcome-div">
          <div class="contener">
            <h1>our<span class="span2"> kids </span>aria</h1> 
            <p class="p2">You can trust us</p>
          </div>
          <div class="row row-con">
            <div class="col-md-6 col-12 kids-aria">
              <button id="hide">hide our offers</button>
              <button id="show">see our offers</button>
              <img src="../content/media/kids-aria.jpg" alt="kids-aria" >
              <div class="col-12 down-img d-block d-md-none ">
                <p class="p5">
                  1.The first time for a child is free
                </p>
                <p class="p5">
                  2.Every meal for the child comes with a gift
                </p>
                <p class="p5">
                  3.You can safely leave the child in the children's area
                </p>
              </div>
            </div>
            <div class="col-md-6 d-md-block d-none kids-aria">
              <div class="down-img" id="div-hide-show">
                <p class="p5">
                  1.The first time for a child is free
                </p>
                <p class="p5">
                  2.Every meal for the child comes with a gift
                </p>
                <p class="p5">
                  3.You can safely leave the child in the children's area
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="bg-light">
        <div class="welcome-div p-5">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label p2 fs-5">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label p2 fs-5">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress" placeholder="Address">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label p2 fs-5">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-6">
            <label for="inputState" class="form-label p2 fs-5">State</label>
            <select id="inputState" class="form-select">
              <option selected>cairo</option>
              <option>Alexandria</option>
              <option>aswan</option>
              <option>Luxor</option>
              <option>Sohag</option>
            </select>
          </div>
          <div class="col-md-3 col-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label p2 fs-5" for="gridCheck">
                Do you like the site
              </label>
            </div>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-dark">Sign in</button>
          </div>
        </form>
        <div class="row justify-content-center">
          <iframe class="ifra col-md-6 col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.60379404598!2d31.328333478208496!3d30.059618561206307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2z2KfZhNmC2KfZh9ix2KnYjCDZhdit2KfZgdi42Kkg2KfZhNmC2KfZh9ix2KnigKw!5e0!3m2!1sar!2seg!4v1646747228766!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      </footer>
      <div class="bg-black row justify-content-center p-5">
        <p class="p2 p-con col-12 fs-4">© 2022 the grill , With Love by michael</p>
      </div>
      <!-- <div class="welcome-div bg-light d-none" id="wel-div">
        <div class="contener">
          <h1>A <span class="span2">WARM </span>WELCOME</h1>
          <p class="p2">were very happy to see you.</p>
          <button class="start-but" id="start-but">lets start</button>
        </div>
      </div> -->
      <script src="../content/js/all.min.js"></script>
      <script src="../content/js/bootstrap.bundle.min.js"></script>
      <script src="../content/js/jquery-3.6.0.min.js"></script>
      <script src="../content/js/index.js"></script>
      <script src="../content/js/owl.carousel.js"></script>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
      <script src="//code.tidio.co/gxnbolk8qgwozopxjjpzobfbe4fwvok9.js" async></script>
</body>

</html>